<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= locals.headerText %></title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <script src="/js/client.js"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <h1><a href="/"><%= locals.headerText %></a></h1>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <% if (locals.user) { %>
                            <li>Welcome, <a href="/@<%= locals.user.username %>"><%= locals.user.username %></a></li>
                            <li>
                                <form action="/logout" method="post">
                                    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                                    <button type="submit">Logout</button>
                                </form>
                            </li>
                        <% } else { %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Sign Up</a></li>
                        <% } %>
                    </ul>
                </nav>
            </header>
